@font-face {
  font-family: 'Futura';
  src: url(../utils/fonts/Futura-Medium.woff);
}

:root {
  --text-default: rgba(208, 45, 0, 255);
  font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color-scheme: light dark;
  color: rgba(208, 45, 0, 255);
  background-color: rgba(255, 255, 255, 255);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  display: block;
  place-items: left;
  min-height: 100vh;
}

.logo{
  font-size: 2.5em;
  border: 2px solid var(--text-default);
  text-align: left;
  padding: 1%;
}

.notification {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9); 
  color: #213547; 
  border: 1px solid rgba(208, 45, 0, 0.3); 
  border-radius: 8px;
  padding: 1rem;
  margin: 1em 0;
  font-family: var(--text-default);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.notification.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.notification-info {
  color: #90caf9;
  border: 1px solid #90caf9;
}

.notification.visible {
  opacity: 1;
  visibility: visible;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.new-price{
  color: yellow
}

.price-error{
  color: red
}