@font-face {
  font-family: 'Futura';
  src: url(../utils/fonts/Futura-Medium.woff);
}


:root {
  --theme-default: rgba(208, 45, 0, 255);
  font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color-scheme: light dark;
  color: rgba(208, 45, 0, 255);
  background-color: rgba(255, 255, 255, 255);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  display: block;
  place-items: left;
  min-height: 100vh;
}

.logo{
  font-size: 2.5em;
  text-align: left;
  padding-top: 0.5em;
}

.under-logo{
  font-size: 0.8em;
  padding-bottom: 2em;
}

.notification {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9); 
  color: #213547; 
  border: 1px solid rgba(208, 45, 0, 0.3); 
  border-radius: 8px;
  padding: 1rem;
  margin: 1em 0;
  font-family: var(--theme-default);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.notification.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.notification-info {
  color: #90caf9;
  border: 1px solid #90caf9;
}

.notification.visible {
  opacity: 1;
  visibility: visible;
}

button {
  border-radius: 8px;
  border-color: var(--theme-default);
  color: var(--theme-default);
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  border-color: var(--theme-default);
  font-size: 1em;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 10); 
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}
button:hover {
  color: rgba(255, 255, 255, 255);
  background-color: var(--theme-default);
}

.logout-panel{
  display: flex;
  align-items: center;
  gap: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5em;
}

th, td {
  padding-top: 0.5em; 
  padding-bottom: 0.5em; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}
th{
  border-bottom: 2px solid var(--theme-default);
}
.new-price{
  color: yellow
}

.price-error{
  color: red
}